@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;300;500;700;900&display=swap');
html, body
{
    margin:0;
    padding:0;
    font-family: 'Lato';
    overflow-x: hidden;
}

.inner{
    width: 90%;
    margin:auto; 
}


.producteur,.capteur{
    display: flex;
    width: 90%;
    margin-left: 5%;
    align-content: space-between;
    gap:10%;
    flex-wrap: wrap;
}

.divcapteur{
    width: 20%;
    border: 10px double black;
    flex: 1 1 auto;
    margin-bottom: 5%;

}
.titre{
    background-color: rgb(108, 108, 245);
    text-align: center;
    
}



.img_capteur{
    width: 40%;

}
b{
    font-size: 170%;
}
h1{
    font-size: 250%;
    text-align: center;
    z-index: 11;
}


.text{
    font-size: 150%;
    text-align: center;
    font-weight: bold;

}

@media only screen and (max-width: 1000px)
{
    b{
        font-size: 120%;
    }
    .humidite{
        width: 30%;
    }
}