:root{
  --hauteur-menu: 100px;

}
* {
  margin: 0px;
  padding: 0px;
  font-family: Montserrat, sans-serif;
}
ul, li {
        background-color: white;
        list-style-type: none;

}
img {
    width: 100px;
    height: 100px;
}
nav {
  width: 100%;
  font-size: 18px;
  position: sticky;
  top: 0;

}
nav > ul {
  display: flex;
  text-align: center;
  box-shadow: 0px 1px 2px 1px rgba(0,0,0,0.3);
  height: var(--hauteur-menu);
  background-color: white;
}
 
nav ul {
  background-color: white;
  list-style-type: none;
}

nav > ul > li {
  background-color: white;
  position: relative;
  height: 100%;
  flex: 1;
}
nav > ul > li > a {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

li a {
  text-decoration: none;
  color: black;
}

.menu-deroulant > a:after{
  background-color: white;
  content: '❯';
  font-size: 15px;
  margin-left: 7px;
  display: inline-block;
}
.sous-menu {
  margin-top: var(--hauteur-menu);
  width: 100%;
  text-align: left;
  background-color: white;
  border-radius: 2px;
  overflow: hidden;
  max-height: 0;
}

.sous-menu > li > a {
  height: 50px;
  padding-left: 20px;
  width: 100%;
  align-items: center;
  display: flex;
}
nav > ul > li:hover > a{
  color: black;
}
.sous-menu > li:hover {
  background-color: rgba(33, 105, 236, 0.3);
}

.sous-menu > li:hover > a {
  color: white;
}

@keyframes rotationFleche {
  0% {
    transform: rotate(0deg);
  }
  100%{
    transform: rotate(90deg);
  }
}
.menu-deroulant:hover > a:after{
  animation: rotationFleche 0.4s linear forwards;
}
@keyframes apparitionSousMenu {
  0% {
    box-shadow: 0px 3px 3px 1px rgba(0,0,0,0);
    border-top: 3px solid black;
  }
  30% {
    box-shadow: 0px 3px 3px 1px rgba(0,0,0,0.3);
  }
  100% {
    max-height: 50em;
    border-top: 3px solid black;
    box-shadow: 0px 3px 3px 1px rgba(0,0,0,0.3);
  }
}.menu-deroulant:hover > .sous-menu {
  animation: apparitionSousMenu 1s forwards;
}