body
{
    margin:0;
    padding:0;
    font-family: 'Lato';
    overflow-x: hidden;
    background-color: #3c7a6c;
    background-image:url(../img/Fond_Index.png);
    background-repeat:no-repeat;
    background-size: cover;
}
h1
{
    text-align: center;
    color: #09c44b;
}
.center
{
    height: 100%;
    width: 100%;
}
.text
{
    color: #16A29D;
    font-size: 1.4rem;
    font-family: Helvetica, Arial, sans-serif;
}