@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;300;500;700;900&display=swap');
body
{
    margin:0;
    padding:0;
    font-family: 'Lato';
    overflow-x: hidden;
    background-color: red;


}

.inner{
    width: 90%;
    margin:auto; 
}

