form{
	margin: 0 auto;
	background-color:white ; 
	margin-top: 50px;
	width: 500px;
	border-radius: 5px;
	border: black;
} 
input{margin-top: 10px;}
.donne{ 
	background-color:white ; 
	margin: 0 auto;
	width: 500px;
	}
.border{
	background-color: black;
	width: 500px;
	height: 5px;
	margin: 0 auto;
}